*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  list-style-type: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
}
.music-player {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.music-player h2 {
  text-align: center;
}
.container {
  width: 90vw;
  max-width: 480px;
  background: #f3f5eb;
  border: solid 1px transparent;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
  background: #eeeeeb;
  padding: 10px;
  border: solid 1px transparent;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 8px, rgba(0, 0, 0, 0.05) 0px 5px 5px;
  margin: 1rem 0;
}
.track-name {
  margin: 10px 0;
  font-size: 2rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
  /* padding: 10px 0; */
  border-radius: 10px;
  border: solid 1px transparent;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 8px, rgba(0, 0, 0, 0.05) 0px 5px 5px;
  background: #eeeeeb;
}
.buttons > div {
  padding: 10px;
}
.active {
  background: #000;
  border-radius: 50%;
  color: #fff;
}
.repeat-track,
.random-track,
.play-track,
.prev-track,
.next-track {
  opacity: 0.6;
  transition: opacity 0.2s;
}
.opacityChange {
  opacity: 1;
}

.slider-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.slider-container input {
  touch-action: none;
}

.current-time,
.total-duration {
  padding: 10px;
}
i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}
i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
  cursor: pointer;
}

.volume-slider {
  width: 40%;
}

/* input-range  generator:https://www.cssportal.com/style-input-range/ */
input {
  -webkit-appearance: none;
  background: transparent;
  height: auto;
  width: 100%;
}
input:focus {
  outline: none;
}
input::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #eeeeeb;
  border-radius: 8px;
  border: 1px solid #d1d1d1;
}
input::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #d1d1d1;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input:focus::-webkit-slider-runnable-track {
  background: #eeeeeb;
}
input::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #eeeeeb;
  border-radius: 8px;
  border: 1px solid #d1d1d1;
}
input::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #d1d1d1;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
}
input::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input::-ms-fill-lower {
  background: #eeeeeb;
  border: 1px solid #d1d1d1;
  border-radius: 16px;
  box-shadow: 0px 0px 0px #000000;
}
input::-ms-fill-upper {
  background: #eeeeeb;
  border: 1px solid #d1d1d1;
  border-radius: 16px;
  box-shadow: 0px 0px 0px #000000;
}
input::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #d1d1d1;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
}
input:focus::-ms-fill-lower {
  background: #eeeeeb;
}
input:focus::-ms-fill-upper {
  background: #eeeeeb;
}
