*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  list-style-type: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  user-select: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
}
.music-player {
  display: grid;
  place-items: center;
}

.container {
  /* narrow 95vw */
  width: 95vw;
  max-width: 480px;
  background: #e5ead4;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.player-img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.player-img {
  width: 85%;
  text-align: center;
  display: block;
  object-fit: cover;
  background: #eeeeeb;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 8px, rgba(0, 0, 0, 0.05) 0px 5px 5px;
  margin: 0.5rem 0 1rem;
}
.player-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.track-name {
  margin: 0.5rem 0;
  font-size: 1.75rem;
  font-weight: lighter;
}

.navigation-btns {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 8px, rgba(0, 0, 0, 0.05) 0px 5px 5px;
  background: #eeeeeb;
}
.navigation-btns > button {
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  /* border: solid 1px black; */
  aspect-ratio: 1/1;
}
.navigation-btns > button > i {
  /* border: dotted 1px black; */
  font-size: 22px;
}

.navigation-btns .play-track i {
  font-size: 48px;
}
.navigation-btns button.active {
  border-radius: 50%;
  background: rgb(22, 22, 22);
  color: white;
}

.repeat-track,
.random-track,
.play-track,
.prev-track,
.next-track {
  opacity: 0.6;
  transition: opacity 0.2s;
}

.current-time,
.total-duration,
i.fa-volume-down,
i.fa-volume-up {
  padding: 0.5rem;
  opacity: 0.8;
}
i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid 1px red; */
}

.list-track-info {
  /* border: solid 1px red; */
  display: flex;
  align-items: center;
  width: 85%;
  padding: 0.5rem;
  gap: 0.75rem;
  border-radius: 5px;
}
.list-track-info i {
  width: 25%;
  font-size: 1rem;
}
.list-track-info .song-title {
  width: 35%;
}

.track-active {
  border: solid 1px transparent;
  background: #eeeeeb;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 8px, rgba(0, 0, 0, 0.05) 0px 5px 5px;
}

.track-active i {
  display: block;
  font-size: 22px;
  opacity: 0.6;
  transition: 0.2s ease-in;
}
.track-active i:hover {
  opacity: 1;
  scale: 1.1;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
.duration-container {
  display: flex;
  width: 85%;
  margin: 0 auto;
  gap: 0.5rem;
  /* border: solid 1px rgb(156, 244, 3); */
}
.timeline-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  cursor: pointer;
  padding: 0 1rem;
}
.timeline {
  position: absolute;
  background: rgb(227, 227, 227);
  width: calc(100%);
  height: 8px;
  border: solid 1px rgb(127, 127, 127);
  border-radius: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.timeline:before {
  content: '';
  position: absolute;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  top: 0;
  bottom: 0;
  left: 0;
  right: calc(100% - var(--progres-position) * 100%);
}
.timeline-thumb {
  width: 16px;
  aspect-ratio: 1 /1;
  border: solid 1px rgb(127, 127, 127);
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  /* background-color: transparent; */
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: calc(-16px + (100% - var(--progres-position) * 100%));
}

.volume-container {
  /* border: solid 1px red; */
  display: flex;
  width: 85%;
  margin: 0 auto;
  gap: 0.5rem;
}
.volume-slider-container {
  display: flex;
  justify-content: center;
  width: 100%;
  /* border: solid 1px rgb(21, 22, 20); */
  position: relative;
  cursor: pointer;
}
.volume-slider {
  position: absolute;
  background: rgb(255, 255, 255);
  width: 100%;
  height: 8px;
  border: solid 1px rgb(127, 127, 127);
  border-radius: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.volume-slider:before {
  content: '';
  position: absolute;
  background: rgb(214, 214, 214);
  border-radius: 8px;
  top: 0;
  bottom: 0;
  margin-right: 0;
  right: 0;
  left: calc(0% + var(--progres-position) * 100%);
}
.volume-slider-thumb {
  width: 16px;
  aspect-ratio: 1 /1;
  border: solid 1px rgb(127, 127, 127);
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  /* background-color: transparent; */
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  left: calc(-16px + (0% + var(--progres-position) * 100%));
}
